[phases.setup]
nixPkgs = ['nodejs_18']

[phases.install]
cmds = ['cd backend && npm ci --only=production || npm install --only=production']

[start]
cmd = 'cd backend && NODE_ENV=production node server.js'

