[phases.setup]
nixPkgs = ['nodejs_18']

[phases.install]
cmds = ['cd backend && npm ci']

[phases.build]
cmds = ['cd backend && npm run build || echo "No build script, skipping..."']

[start]
cmd = 'cd backend && node server.js'

