[phases.setup]
nixPkgs = ['nodejs_18']

[phases.install]
cmds = ['cd web && npm ci --omit=dev || npm install --omit=dev']

[phases.build]
cmds = ['cd web && npm run build']

[start]
cmd = 'cd web && npm run start'
